.nodeButton{
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-wrap: nowrap;
    transition: width 0.2s, border-radius 0.2s;
}

.nodeButton:hover{
    border-radius: 4px;
    width: 60px;
    transition: width 0.2s, border-radius 0.2s;
}

.infoTop{
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}

.infoTop>button{
    border: 0;
    border-radius: 4px;
    background-color: rgb(170, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.infoTop>button:hover{
    background-color: rgb(245, 71, 71);
    transition: background-color 0.2s;
}

.infoContent{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.info{
    margin-bottom: 10px;
}

.wrapper{
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.infoBottom{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.infoBottom>button{
    border: 0;
    border-radius: 4px;
    background-color: rgb(170, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.infoBottom>button:hover{
    background-color: rgb(247, 75, 75);
    transition: background-color 0.2s;
}

.node{
    border: 1px solid black;
    border-radius: 10px;
    padding: 14px 4px 14px 4px;
    width: fit-content;
    max-width: 130px;
    font-size: small;
}

.innerNode{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.innerNode>div{
    display: flex;
    justify-content: center;
    text-align: center;
}